<form [formGroup]="FormTec" (ngSubmit)="onSubmit()">
  <!-- Nome do Desenvolvedor -->
  <label for="nome">Nome do Desenvolvedor:</label>
  <input id="nome" type="text" formControlName="nome">
  <div *ngIf="FormTec.controls.nome.invalid && FormTec.controls.nome.touched">
    <small *ngIf="FormTec.controls.nome.errors?.['required']">O nome é obrigatório.</small>
    <small *ngIf="FormTec.controls.nome.errors?.['minlength']">O nome deve ter pelo menos 3 caracteres.</small>
    <small *ngIf="FormTec.controls.nome.errors?.['maxlength']">O nome deve ter no máximo 10 caracteres.</small>
  </div>

  <!-- Tecnologia Favorita -->
  <label for="tecFavorita">Tecnologia Favorita:</label>
  <input id="tecFavorita" type="text" formControlName="tecFavorita">
  <div *ngIf="FormTec.controls.tecFavorita.invalid && FormTec.controls.tecFavorita.touched">
    <small *ngIf="FormTec.controls.tecFavorita.errors?.['required']">A tecnologia favorita é obrigatória.</small>
    <small *ngIf="FormTec.controls.tecFavorita.errors?.['minlength']">Deve ter pelo menos 3 caracteres.</small>
    <small *ngIf="FormTec.controls.tecFavorita.errors?.['maxlength']">Deve ter no máximo 10 caracteres.</small>
  </div>

  <!-- Botão de Envio -->
  <button type="submit" [disabled]="FormTec.invalid">Entrar</button>
</form>
